@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-purple {
    color: #6415ff;
}

a {
    text-decoration: none;
    color: #243e63
}

p {
    color: #1a202c;
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }


/* Navigation Styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 32px 0;
    /*
    gap: calc(100% / 6);
*/
    }

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    margin: 0 0 0 12px;
    padding: 0 0 0 2px;
}

.nav__links,
.nav__link--login {
    display: flex;
    align-items: center;
}


.nav__links {
    gap: 24px;
    font-weight: 600;
}

.nav__link {
    margin: 0 24px;
    padding: 4px 0 0;   
}

.nav__link--login {
    gap: 16px;
}

.btn--primary {
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 40px;
    border: none;
    line-height: 1.5;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 600;
}

/*Header/Landing Style */


.header__container {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.header__row {
    display: flex;
    padding: 96px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

.header__img {
    width: 100%;
    max-width: calc(1200px / 60%);
}

.header__img--wrapper {
    width: 100%;
    max-width: 768px;
}

.header__description {
    width: 100%;
    max-width: calc(1200px / 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.header__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header__socials--title {
    font-size: 12px;
    font-weight: 700;
    margin: 80px 0 0 0;
    color: #a0aec0;
    display: flex;
    text-align: left;
    line-height: 1.5;
    margin: 32px 0;
}

.header__social {
    width: 120px; display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 4px;
}

h1 {
    color: #1a202c;
    width: 100%;
    font-size: 48px;
    max-width: 512px;
}

.header__social--logos {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 0 128px 0 0;
}

.header__button {
    border-color: #a0aec0;
    border-width: 30px;
    padding: 20px 192px 20px 32px;
    margin-top: 2px;
    border-radius: 40px;
    border: none;
    line-height: 1.5;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 700;
}