@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-purple {
    color: #6415ff;
}

a {
    text-decoration:none;
    color: #243e63
}

p {
    color: #7c8ba1
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
}

h1 {
    color: #1a202c;
    width: 100%;
    font-size: 48px;
    max-width: 512px;
    line-height: 1.25;
}

.no-cursor {
    cursor: not-allowed;
}
/*
#landing, #features,  {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
*/
section {
    padding: 0 32px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__content, .section_wrapper {
    width: 50%;
}

.section__title {
    font-size: 16px;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
}


.section__description {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
    text-align: left;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;   
    text-align: left;
    width: 100%;
    max-width: 576px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.section__img {
    width: 100%;
}

.section__img--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn {
    border-color: none;
    border-radius: 40px;
    border: none;
    background-color: #6415ff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Navigation Styles */

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.nav__row {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
}    

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    margin-left: 12px;
}

.nav__links,
.nav__link--login {
    display: flex;
    align-items: center;
}

.nav__links {
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    padding: 4px 0 0; 
    font-size: 14px;  
    font-weight: 600;
}

.nav__link--login {
    gap: 16px;
}

.login {
    margin-left: 48px;
}

.btn--primary {
    color: #fff;
    padding: 10px 32px;
    margin: 2px 0 0;
    border-radius: 40px;
    border: none;
    line-height: 1.5;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 600;
}

/*Header/Landing Style */
/*
.header__container {
    display: flex;
    padding: 96px 0;
    width: 100%;
    max-width: 1200px;
}
*/
.header__row {
    display: flex;
    width: 100%;
}

.header__para {
    color: #243e63;
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
}

.header__content {
    width: 40%;
}


.header__description {
    width: 100%;
}


.header__socials--img {
    width: 100%;
    padding-right: 128px;
    margin-top: 16px;
    opacity: .5;
}

.header__img--wrapper {
    width: 60%;  
}

.header__btn {
    width: 100%;
    height: 68px;
    max-width: 448px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__btn--primary {
    margin: 8px;
    width: 160px;
    height: calc(100% - 16px);
    border-radius: 40%;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: #fff;
    border-radius: 500px;
    z-index: 2;
    transition: all 300ms ease;
}

.header__socials--title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    margin: 80px 0 0;
    color: #a0aec0;
    display: flex;
    text-align: left;
    line-height: 1.5;
}

.header__social {
    width: 120px; display: flex;
    margin: 16px 0 0;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 4px;
}




/* Features Section Styles */

.features__container, .pricing__row {
    display: flex;
    flex-direction: column;
}

.features__row, .pricing__row {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.features__title, .pricing__title, .features__description, .pricing__description, .features__para, .pricing__para {
    text-align: center;
}


.features__services {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    
    /*

    flex-direction: column;
    max-width: 1200px;
    padding: 32px 24px;
    gap: 32px;
    justify-content: space-between;
    border: none;
*/

}

.features__service {
    display: flex;    
    flex-wrap: wrap;
    border: none;
    width: calc(100% / 3);
    margin: 0;
    padding: 0;
}

.features__service-img--row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.features__img--wrapper {
    display: flex;
    border-radius: 50%;
    border: 1px solid #e5e7eb;
    padding: 20px;
}

.features__img {
    width: 24px;
    height: 24px;
}

.features__service--row {
    margin-top: 8px;
    margin-left: 16px;
}

.features__service--title {
    font-size: 24px;
    font-weight: 700;
    color: #243e63;
    margin: 0;
    padding: 0;
}

.features__service--para {
    font-size: 16px;
    color: rgb(124, 139, 161);
    max-width: calc(100% - 32px);
    line-height: 1.625;
    font-weight: 500;
    margin-top: 16px;
}


 /*Quality Section Styles */

.quality__row, .steps__row, .value__row, .pricing__row, .testimony__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.quality__content {
    width: 50%;
    margin-right: 64px;
}

.quality__btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    width: 50%;
    margin: 0 56px;
    border: 1px solid rgb(229, 231, 235);
    z-index: 2;
    position: relative;
    border-radius: 4px;
}

.quality__img {
    z-index: 1;
}

.quality__grid {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    z-index: 0;
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    display: flex;
}

/* Steps Section Styles */

.steps__row, .testimony__row {
    flex-direction: row-reverse;
}

.steps__content {
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
}

.steps__services {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.steps__service {
    display: flex;
    margin-top: 32px;
}

.steps__service--row {
    margin: 0 0 0 24px;
}

.steps__list{
    display: flex;
    margin-top: 32px;
}

.steps__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}


.steps__service--title {
    font-size: 20px;
    font-weight: 600;
}

.steps__service--para {
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0 0 0;
    max-width: 320px;
    line-height: 2;
    line-height: 2;
}

.steps__img--wrapper {
    width: 50%;
    z-index: 2;
    position: relative;
}

.steps__img {
    z-index: 1;
}

.step__grid {
    width: 160px;
    height: 160px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: rgb(100, 21, 255);
    fill: currentColor;
    z-index: 0;
    transform: translateX(-135%) translateY(53%) scaleX(1) scaleY(1);
    display: flex;
    opacity: 0.2;
}


/* Values Section Styles */

.values__content {
    padding: 32px 64px 32px 0;
}

.values__services {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.values__service {
    margin: 32px 32px 0 0;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0;
}

.values__service-img--row {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.values__img--wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__img--wrapper-1  {
    background-color: #9ae6b4;
}

.values__img--wrapper-2 {
    background-color: #f5cbd6;
}

.values__service--title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}

.values__service--para {
    font-size: 16px;
    margin: 16px 0 0 0;
    line-height: 1.625;
    max-width: 400px;
    width: 100%;
    color: #718096;
    text-align: top;
}


/* Pricing Section Styles */  

.plans {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.plan {
    border: 1px rgb(240, 230, 230) solid;
    background-color: rgb(255 255 255);
    border-radius: 8px;
    margin-top: 32px;
    margin-right: 6px;
    position: relative;
    display: flex;
    max-width: 384px;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}

.pricing__service--title, .pricing__service--number, .pricing__title, .plan__feature, .pricing__service--row, .pricing__btn {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pricing__service--title, .plan__title {
    text-transform: uppercase;
    font-size: 20px;
    color: #1a202c;
    line-height: 1.625;
}

.plan__title {
    text-transform: none;
}

.pricing__service--number {
    line-height: 1.625;
}

.pricing__title {
    margin: 0;
    color: #718096;
    line-height: 1.625;
}

.plan__btn {
    text-transform: uppercase;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 300ms ease;
}

.plan__top {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plans__blob, .path {
    z-index: -1;
    position: absolute;
    transform: translateX(-365%) translateY(185%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

.pricing__service-category--row {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .pricing__service--title, .plan:nth-child(2) .pricing__service--number, .plan:nth-child(2) .pricing__title, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(1) .plan__btn, .plan:nth-child(1) .plan__top {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__btn {
    color: #6415ff;
    background: #f7fafc;
}

.plan:nth-child(3) .plan__btn, .plan:nth-child(3) .plan__top {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__plan--number {
    margin: 4px 0;
    font-size: 48px;
}

.pricing__service--row {
    margin: 0;
}

.pricing__service-category--row {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #718096;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__btn {
    margin-top: 32px;
    align-content: center;
}

.plan__button {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimony Section Styles */

.testimony__content {
    padding-left: 64px;
}



